@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

 * {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

/* ------------------------------------RESET-------------------------------------------- */

body {
  background-color: rgb(49, 46, 49);
}

section {
  padding: 2rem 9%;
}

.cover {
  background: url(../images/background-black.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #fff;
}

.heading span {
  color: rgb(179, 15, 15);
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid rgb(179, 15, 15);
  color: rgb(179, 15, 15);
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: rgb(179, 15, 15);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
  transition: 0.4s;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(29, 28, 28, 0.808);
  padding: 2rem 3%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  display: flex;
  align-items: center;
}

.logo-chef {
  width: 75px;
}

header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #fff;
  transition: 0.2s all linear;
}

header .navbar a:hover {
  color: rgb(209, 10, 10);
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  padding: 0.4rem;
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
  color: #fff;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

.button {
  margin: 2px;
  border: #272527 solid 2px;
  padding: 5px;
  cursor: pointer;
}

.div-cards {
  display: flex;
}

.box-container {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(1.4rem);
  }
}

.home .content h3 {
  font-size: 4.7rem;
  color: rgb(255, 255, 255);
}

.home .content p {
  font-size: 1.7rem;
  padding: 1rem 0;
  color: rgb(209, 209, 209);
}

/* Cards */

/* media queries */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #f7f7f7;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    border-left: 0.5rem solid rgb(83, 11, 11);
    background: #272527;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
