form {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


input {
  border: 2px solid white;
  color: black;
  width: 100%;
  padding:3px;
  border-radius: 3px;
} 


.div-input {
  margin-bottom: 10px;
  width: 400px;
}

.div-input-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-input {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons{
  margin-top: 5px;
  background-color: #fefefe;
  border-radius: 5px;
  border: 0;
  color: #2c2c2d;
  cursor: pointer;
  padding: 6px;
  font-size: 14px;
  transition: .2s;
  width: 70px;
}


.buttons.is-danger {
  background-color: #ff5258;
}
